<!-- The main webpage for searching (for web demonstration) -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page Prototype (ver.1.0.)</title>
</head>
<body>
    <!-- the setup for a basic search bar in html -->
    <form action="/search" method="POST">
        <label for="search-input"> Search: </label>
        <input type="text" id="search-input" name="search">
    </form>
</body>
</html>